<div class="imagen">
    <div class="row">
<div class="container">
   <div *ngFor="let character of characters">
    <div class="card">
        <img class="card-image" [src]="character.img" alt="100" height="400">
        <div class="card-text">
        <span class="data-id">personaje #{{character.char_id}}</span>
          <h2>{{character.name}}</h2>
          <p>{{character.occupation}}</p>
          <a>{{character.status}}</a>
        </div>
      </div>
    </div></div></div>
<router-outlet></router-outlet>
